@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";
  @function generate-random-stars ($screen-width, $color, $density){
  
    $h-shadow: random($screen-width);
    $v-shadow: random($screen-width);
    
    $stars: '#{$h-shadow}px #{$v-shadow}px #{$color}';
    @for $i from 2 through $density {
        $h-shadow: random($screen-width);
        $v-shadow: random($screen-width);
      
      $stars: '#{$stars}, #{$h-shadow}px #{$v-shadow}px #{$color}';
    }
    @return unquote($stars);
  }
  
  @mixin stars-content($screen-width, $color, $density, $speed, $delay) {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: generate-random-stars($screen-width, $color, $density);
    animation-name: glowing-stars;
    animation-duration: $speed+s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: $delay+s;
  }
  
  body{
    background: #000;
  }
  
  //Change colors for multi-colors star groups
  
  #stars-group-1{
    @include stars-content(2000, #fff, 200, 1, 0);
    position: absolute;
  }
  
  #stars-group-2{
    @include stars-content(2000, #fff, 200, 1, 0.1);
    position: absolute;
  }
  
  #stars-group-3{
    @include stars-content(2000, #fff, 200, 1, 0.2);
    position: absolute;
  }
  
  #stars-group-4{
    @include stars-content(2000, #fff, 200, 1, 0.3);
    position: absolute;
  }
  
  #stars-group-5{
    @include stars-content(2000, #fff, 200, 1, 0.4);
    position: absolute;
  }
  
  #stars-group-6{
    @include stars-content(2000, #fff, 200, 1, 0.5);
    position: absolute;
  }
  
  @keyframes glowing-stars {
      0%   {opacity: 0;}
      50%  {opacity: 1;}
      100% {opacity: 0;}
  }

.container{
  color:white;
  ul{
    list-style-type: none;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    line-height: 70px;
    opacity: 100% !important;
    margin: 0;
    padding: 0;
  }
}

.about{
  border: 1px solid rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 3%;
  text-align: center;
}

.social{
  border-radius: 50%;
    box-shadow: 0 0 0 2px white;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    height: 40px;
    line-height: 45px;
    opacity: .75;
    text-align: center;
    width: 40px;
    margin: 30px 10px auto;
    background-color: #000 !important;
}

.social:hover{
  color:rgb(185, 183, 183);
}

.navbar{
  display: flex;
  justify-content: end;
  position: sticky;
  background-color: rgba(255,255,255,0.07);
  top: 0;
  right: 1em;
  a{
    font-family: 'Pacifico';
    color: inherit !important;
    padding: 15px;
    font-size: 20px;
  }
}

